.form {
  max-width: 385px;
  box-sizing: border-box;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
}

.form__input {
  background: #ffffff;
  border: 1px solid #838383;
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0;
  margin-top: 8px;
  border-radius: 4px;
  min-width: 385px;
  min-height: 60px;
  padding: 25px;
}

.form__input::placeholder {
  color: #838383;
  font-family: "inter";
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  border-radius: 4px;
  height: 60px;
  background: #2f71e5;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  box-sizing: border-box;
  opacity: 1;
  border: 0;
}

.form__button:hover {
  opacity: 0.7;
  transition: opacity 0.5s;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 2px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin: 0;
}
